body {
  background-color: black;
}

h1 {
  color: lightgreen;
  text-align: center;
  font-family: courier;
}
h2 {
  color: lightgreen;
  text-align: left;
  font-family: courier;
}
h3 {
  color: lightgreen;
  text-align: left;
  font-family: courier;
}
p {
  font-family: courier;
  font-size: 20px;
  color: white;
}
ol {
  font-family: courier;
  font-size: 15px;
  color: white;
}
